html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Interstate;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.ant-layout ::-webkit-scrollbar-track {
  background: #031627;
}

/* Handle */
.ant-layout ::-webkit-scrollbar-thumb {
  background: #ffffff33;
  border-radius: 100px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
.ant-layout ::-webkit-scrollbar-thumb:hover {
  background: #706f6f33;
}

.mt-27 {
  margin-top: 27px;
}

body {
  font-family: 'Interstate';
}

.search-btn {
  width: 100%;
  height: 40px;
  padding: 11px 16px;
  gap: 8px;
  display: flex;
  background: #178FFE;
  border-radius: 4px;
  justify-content: center;
  font-family: 'Interstate';
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.search-btn:hover {
  background: #40A9FF;
  color: #fff;
}

.search-btn:focus {
  border: none;
  background: #178FFE;
  color: #fff;
}

.fw-100 {
  font-weight: 100;
}

.f-16 {
  font-size: 16px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

@font-face {
  font-family: "Interstate";
  src: url("../fonts/Interstate.otf") format("opentype");
}